*{
    margin: 0%;
    padding: 0%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: azure;
    box-shadow: 0 0 10px rgb(214, 214, 235);
}

.navbar-logo a{
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
}

span{
    margin: 10px;
    font-weight: 900;
}
.navbar-item a{
    text-decoration: none;
}

.navbar-item a:hover{
    color: rgb(182, 228, 17);
}
